<div class="container-fluid">


  <div class="row">
    <h1 class="col-12 text-center mb-5">My page</h1>
  </div>

  <div class="card pt-4 row">
    <div class="col-12 text-center mb-5 px-5">

      <div><%= attachment_image_tag @user, :profile_image, :fill, 300, 300, format: 'jpg', fallback: "0.jpeg", class: "user-image2" %></div>

      <h3><%= @user.name %></h3>

      <div class="mx-5 mb-2 px-5 py-3 card"><%= @user.introduction %></div>

      <div class="following">
        フォロー数：
        <%= link_to user_relationships_path(@user.id), class: 'link' do %>
        <%= @user.followings.count %>
        <% end %>
      </div>

      <div class="follower">
        フォロワ数：
        <%= link_to user_relationships_path(@user.id), class: 'link' do %>
        <%= @user.followers.count %>
        <% end %>
      </div>

      <div>
        <% if current_user != @user %>
          <% if @user.followed_by?(current_user) %>
            <div class="mt-2"><%= link_to "フォロー解除", user_relationships_path(@user.id), method: :delete, class: "btn btn-outline-secondary" %></div>
          <% else %>
            <div class="mt-2"><%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-outline-info" %></div>
          <% end %>
        <% end %>

        <% if current_user == @user %>
          <div class="mt-2"><%= link_to "Config", edit_user_path(current_user), class: "btn btn-outline-secondary px-5" %></div>
        <% end %>

        <% if current_user != @user %>
        <div class="mt-2">
          <%= link_to 'DM', chat_path(@user.id), class: "btn btn-outline-success px-5" %>
        </div>
        <% end %>
      </div>

    </div>
  </div>


</div>

<div class="container-fluid">
  
  <div class="row">
    <div class="col-1 text-center">
      <div class="side_left">
        <%= link_to new_content_path do %>
        <i class="far fa-plus-square fa-3x"></i>
        <% end %>
      </div>
    </div>


    <div class="col-5">
      <div class="text-center">


        <h4 class="my-5">My Contents</h4>
        <% @contents_reverse.each do |content| %>
          <div class="card mb-5">

            <%= link_to content_path(content.id), class: "card_image" do %>
              <div><%= attachment_image_tag content, :content_image, :fill, 800, 500, format: 'jpg', class: "content-image" %></div>
            <% end %>

            <div class="card_show d-flex flex-row">
              <%= link_to content_path(content.id) do %>
                <div class="p-2 card_item1">
                  <%= attachment_image_tag content.user, :profile_image, :fill, 200, 200, format: 'jpg', fallback: "0.jpeg", class: "user-image", style: "border-style: none;" %>
                </div>
              <% end %>

              <div>
                <div class="card_item1 d-flex pl-2 pt-2">
                  <div class="pl-2 card_item2">
                    コメント件数：<%= link_to content.comments.count, content_comments_path(content.id) %>
                  </div>

                  <div class="pl-5 pr-2 card_item2 favorite_buttons_<%= content.id %>">
                    <%= render 'favorites/favorite',content: content %>
                  </div>
                </div>

                <div class="pb-2 px-2 card_item">
                  <%= content.description.truncate(33) %>
                </div>
              </div>

            </div>

          </div>
        <% end %>

      </div>
    </div>



    <div class="col-5">
      <div class="text-center">


        <h4 class="my-5">My Favorites</h4>
        <% @favorite_contents_reverse.each do |content| %>
          <div class="card mb-5">

            <%= link_to content_path(content.id), class: "card_image" do %>
              <div><%= attachment_image_tag content, :content_image, :fill, 800, 500, format: 'jpg', class: "content-image" %></div>
            <% end %>

            <div class="card_show d-flex flex-row">
              <%= link_to content_path(content.id) do %>
                <div class="p-2 card_item1">
                  <%= attachment_image_tag content.user, :profile_image, :fill, 200, 200, format: 'jpg', fallback: "0.jpeg", class: "user-image", style: "border-style: none;" %>
                </div>
              <% end %>

              <div>
                <div class="card_item1 d-flex pl-2 pt-2">
                  <div class="pl-2 card_item2">
                    コメント件数：<%= link_to content.comments.count, content_comments_path(content.id) %>
                  </div>

                  <div class="pl-5 pr-2 card_item2 favorite_buttons_<%= content.id %>">
                    <%= render 'favorites/favorite',content: content %>
                  </div>
                </div>

                <div class="pb-2 px-2 card_item">
                  <%= content.description.truncate(33) %>
                </div>
              </div>

            </div>

          </div>
        <% end %>

      </div>
    </div>



    <div class="side_right col-1 text-center">
      <span id="back">
        <a href="#">
          <i class="fas fa-angle-double-up fa-3x"></i>
        </a>
      </span>
    </div>
  </div>

</div>